<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="streetlamp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="streetlamp.My.MySettings.streetlampConnectionString"
      connectionString="Data Source=127.0.0.1;Initial Catalog=streetlamp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="streetlamp.Login" connectionString="Provider=SQLOLEDB.1;Data Source=127.0.0.1;Initial Catalog=streetlamp;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- 本部分定义 My.Application.Log 的登录配置-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- 取消以下部分的注释，以写入应用程序事件日志-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- 取消以下部分的注释，并用应用程序名替换 APPLICATION_NAME，以写入应用程序事件日志-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>

  <userSettings>
    <!-- PerTime设置区间巡查间隔时间提前几分钟的次数、AlarmDo默认为true表示需要执行自动按照区间召测、StarTime为起始时间、EndTime为结束时间，均为24小时制的整点小时数-->
    <streetlamp.My.MySettings>
      <setting name="PerTime" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StarTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="EndTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AlarmDo" serializeAs="String">
        <value>True</value>
      </setting>
    </streetlamp.My.MySettings>
  </userSettings>
</configuration>


<!--connectionString="Data Source=341-13\SQLEXPRESS;Initial Catalog=streetlamp;Persist Security Info=True;User ID=sa;Password=123456"-->


<!--connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;User ID=sa ;Password=123456;Initial Catalog=streetlamp;Data Source=341-13\SQLEXPRESS "-->
